
*{
	font-family:sans-serif;
	
}

.group{
	text-align: center;

}
.dawa{
	background:#f34e55;
	display:inline-block;
	padding:10px 100px;
	margin-bottom:0;
	margin-top:50px;
	border-radius:10px;
	color:white;
}
.tari{
	background:#f1f1f1;
	display:inline-block;
	padding:100px 112px;
	margin:0;
	font-size:70px;
	border-radius:10px;
	color:black;

}